
.sub-section, .section {
    padding: 10px;
    border: 1px solid #ffffff;
    border-radius: 2px;
    margin: 10px 5px;
}

.required {
    color: red;
}

.error {
    color: red;
    font-weight: normal;
}

.blue-label {
    color: blue;
    text-transform: uppercase;
}

input.error {
    border: 1px solid red;
    color: black;
}

.barcode_btn {
    height: 18px;
    width: 7%;
    display: inline-block;
    line-height: 18px;
    padding: 16px 23px;
    margin-right: 4px !important;
    border-radius: 1px;
    background: #ffffff url("../images/barcode_icon.png") no-repeat center;
}

.barcode_text {
    display: inline-block;
    width: 90%;
}

.image_btn {
    height: 6%;
    width: 12%;
    display: inline-block;
    line-height: 18px;
    padding: 16px 23px;
    margin: 4px;
    margin-right: 4px !important;
    border-radius: 4px;
    background: #ffffff url("../images/camera_mg.png") no-repeat center;
}

.image_text {
    display: inline-block;
    width: 90%;
}

.audio_record_btn {
    height: 6%;
    width: 12%;
    display: inline-block;
    line-height: 18px;
    padding: 16px 23px;
    margin-right: 4px !important;
    border-radius: 4px;
    background: url("../images/record_img.png") no-repeat center;
}

.audio_record_text {
    display: inline-block;
    width: 90%;
}

.video_record_btn {
    height: 6%;
    width: 12%;
    display: inline-block;
    line-height: 18px;
    padding: 16px 23px;
    margin-right: 4px !important;
    border-radius: 4px;
    background: #ffffff url("../images/video_record_icon.png") no-repeat center;
}

.video_record_text {
    display: inline-block;
    width: 90%;
}

#pre_populate_data {
    display: none;
}

span.clear {
    display: block;
    clear: left;
}

.datepicker {
    background: white !important;
}

.font-normal {
    font-weight: normal;
}

.small {
    font-size: 14px;
}

.medium, .medium .form-control, .medium .btn {
    font-size: 18px;
}

.medium h2 {
    font-size: 24px;
}

.medium h3 {
    font-size: 18px;
}

.medium h4 {
    font-size: 16px;
}

.medium .form-control:not(textarea) {
    height: 38px;
}

.medium .btn {
    padding: 6px 15px;
}

.large, .large .form-control, .large .btn {
    font-size: 22px;
}

.large h2 {
    font-size: 38px;
}

.large h3 {
    font-size: 32px;
}

.large h4 {
    font-size: 26px;
}

.large .form-control:not(textarea) {
    height: 42px;
}

.large .btn {
    padding: 6px 18px;
}

.medium .btn.image_btn, .medium .btn.audio_record_btn, .medium .btn.video_record_btn,
.large .btn.image_btn, .large .btn.audio_record_btn, .large .btn.video_record_btn {
    height: 11%;
}

.search-person-loader {
    border: 4px solid #f3f3f3; /* Light grey */
    border-top: 4px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 34px;
    height: 34px;
    vertical-align: top;
    padding: 6px 6px;
    animation: spin 2s linear infinite;
    display: inline-block;
}

input[type=text] {
    border: none;
    padding: 22px;
    background-color: #00000005;
    border-bottom: 2px solid #00000026;
}

input[type=checkbox] {
    color: #000000DE;
    margin-right: 12px;
    font-size: 48px;
    height: 2rem;
    width: 2rem;
    vertical-align: middle;
    float: left;
}

.dropborder {
    border: none;
    border-bottom: 2px solid gray;
}

select {
    padding-right: 2rem !important;
}

.allergies_title {
    margin-left: 12px;
}

.selector-field {
    padding: 13px;
    height: auto;
    background-color: #00000005;
    border: none;
    border-bottom: 2px solid #00000026;
}

ul {
    column-count: 2;
    column-gap: 2rem;
    list-style: none;
}

.adder {
    color: #137EFE;
    font-weight: bold;
    font-family: monospace;
    margin-left: 16px;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.input_icon_show {
    position: relative;
}
.input_icon {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    cursor: pointer;
    transition: .3s ease all;
    width: 45px;
    height: 45px;
    line-height: 45px !important;
    text-align: center;
    font-size: 24px !important;
}
